.custom-card{
    background-color: "#FFF";
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
    width: "95%";
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.05),
    0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    /* min-width: 50px; */
}
.custom-card h4{
    color: #404040;
    font-weight: bold;
}