ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C13A43;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color: #C13A43;
    background-color: #E8E8E8;
  }